

.center { 
text-align: center;
}

h2
{ 
    color: rgb(0, 0, 0);
    text-align: center;
}

h3
{
    color: rgb(0, 0, 0);
    text-align: center;
}

p
{
    color: rgb(0, 0, 0);
}

body
{
    background-color: darkkhaki;
    box-shadow: 5ch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.img
{
    width: 230px;
    align-self: center;
}



.ima
{
    width: 190px;
}

div
{

    float: left;
}

.divForInfos 
{
    display: flex;
    flex-direction: row;
    height: 300px;
    width: 100%;
    align-items: center;
    gap: 250px;
}
